:root[data-theme='dark'] {
	/* 背景颜色 */
	--top-bg-color: #232323;
	--menu-bg-color: #232323;
	--menu-active-bg-clolr: rgba(0, 0, 0, 0.4);
	--content-bg-color: #232323;
	--player-bg-color: #232323;
	--progress-bg-color: #404040;
	--body-bg-color: rgba(0, 0, 0, var(--darkness));
	--icon-bg-color: rgba(0, 0, 0, 0.4);
	--menu-hover-bg: rgba(0, 0, 0, 0.3);

	--top-bg-color: transition;
	--menu-bg-color: transition;
	--content-bg-color: transition;
	--player-bg-color: transition;
	--progress-bg-color: transition;

	/* 边框颜色 */
	/* --top-border-color:#404040;
    --menu-border-color:#404040; */

	/* 阴影 */
	--top-shaow: none;

	/* 字体颜色 */
	--primary-text-color: #fafafa;
	--sub-text-color: rgba(255, 255, 255, 0.5);

	--menu-active-text-color: #fafafa;
	--menu-active-bar-color: #fafafa;
	--player-title-text-color: #fafafa;
	--player-artist-text-color: #9b9b9b;

	--scrollbar-track-bg-color: transparent;

	--scrollbar-thumb-bg-color: rgb(96, 96, 97);
	--scrollbar-thumb-hover-bg-color: rgb(160, 159, 159);
	--scrollbar-thumb-shaow: inset 2px 2px 2px hsla(0, 0%, 53%, 0.25), inset -2px -2px 2px rgba(133, 128, 128, 0.25);

	--letter-evt-bg: rgba(255, 255, 255, 0.3);
	--letter-evt-text: #fff;

	--setting-box-bg: rgba(250, 250, 250, 0.3);
	--setting-box-shaow: none;

	--evt-letter-bg: rgba(255, 255, 255, 0.7);
	--evt-letter-color: #fff;
}
